<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="apple.teja.mycollegenotes">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/applog"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applog"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyCollegeNotes"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".login.LoginActivity"
            android:exported="false"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".login.SignUpActivity"
            android:exported="false"
            android:theme="@style/noactionbar" />
        <activity
            android:name=".login.MainActivity2"
            android:exported="false" />
        <activity
            android:name=".ebook.pdfviewer"
            android:exported="false" />
        <activity
            android:name=".ebook.pdfviewer2"
            android:exported="false" />
        <activity
            android:name=".home.Notification"
            android:exported="false" />
        <activity
            android:name=".webactivity.Webacctivity3"
            android:exported="false" />
        <activity
            android:name=".webactivity.WebViewActivity2"
            android:exported="false" />
        <activity
            android:name=".ebook.EbooksAct"
            android:exported="false" />
        <activity
            android:name=".ebook.EbookActivity2"
            android:exported="false" />
        <activity
            android:name=".courses.courses"
            android:exported="false" />
        <activity
            android:name=".departments.itactivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".ebook.EbookActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".departments.dsactivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".departments.eceactivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".departments.aimlactivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".departments.csactivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".departments.cseactivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".login.SplashScreen"
            android:exported="true"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="@string/app_id"
        />
    </application>



</manifest>